@model Taijitan.Models.Domain.Gebruiker
@*@using Microsoft.AspNetCore.Identity*@

@*@inject SignInManager<IdentityUser> SignInManager*@

@{
    // Bereken leeftijd
    DateTime now = DateTime.Today;
    int age = DateTime.Today.Year - Model.Geboortedatum.Year;
    if (Model.Geboortedatum > now.AddYears(-age))
    {
        age--;
    }
}


<fieldset>
    @{
        if (TempData.ContainsKey("message"))
        {
            <div class="alert alert-success">
                @TempData["message"]
            </div>
        }
    }
    <h2>Overzicht gegevens</h2>
    <table class="table table-striped">
        <thead class="bg-primary">
            <tr class="bg-primary">
                <td colspan="2"><b>Gebruiker</b></td>
            </tr>
        </thead>
        <tr>
            <td>
                <b>Naam: </b> @Model.Voornaam @Model.Naam
            </td>
            <td>
                <b>Rijksregisternummer: </b> @Model.Rijksregisternummer
            </td>
        </tr>
        <tr>
            <td>
                <b>Inschrijvingsdatum: </b> @Model.Inschrijvingsdatum.ToShortDateString()
            </td>
            <td>
                <b>Geslacht: </b> @Model.Geslacht.ToString()
            </td>
        </tr>
        <tr>
            <td>
                <b>Geboren: </b> @Model.Geboortedatum.ToShortDateString() te @Model.Geboorteplaats
            </td>
            <td>
                <b>Leeftijd: </b> @age
            </td>
        </tr>
        <tr>
            <td>
                <b>Telefoonnummer: </b> @Model.Telefoonnummer
            </td>
            <td>
                <b>Gsmnummer: </b> @Model.Gsmnummer
            </td>
        </tr>
        <tr>
            <td>
                <b>Email: </b> @Model.Email
            </td>
            <td>
                <b>Email ouders: </b> @Model.EmailOuders
            </td>
        </tr>
        <tr>
            <td>
                <b>Punten: </b> @Model.Punten
            </td>
            <td>
                <b>Gradatie: </b> @Model.Gradatie
            </td>
        </tr>
        <thead class="bg-primary">
            <tr class="bg-primary">
                <td colspan="2"><b>Adres</b></td>
            </tr>
        </thead>
        <tr>
            <td colspan="2">
                @Model.Adres.Straat @Model.Adres.Nummer <br />
                @Model.Adres.Postcode @Model.Adres.Stad <br />
                @Model.Adres.Land
            </td>
        </tr>
    </table>
    <div class="form-group col-md-12">
        @{ 
            var parms = new Dictionary<string, string> { { "gebruikersnaam", @Model.Gebruikersnaam } };
        }
        <a asp-controller="Gebruiker" asp-action="Leeromgeving" asp-all-route-data="parms" class="btn btn-default btn-lg">Keer Terug</a>
        <a asp-controller="Gebruiker" asp-action="Edit" class="btn btn-primary btn-lg text-left">Wijzig gegevens</a>
      
    </div>
    @*<div class="form-group col-md-12">
        @if (SignInManager.IsSignedIn(User))
        {
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                <button type="submit" class="btn btn-default">Keer Terug</button>
            </form>
        }
    </div>*@
</fieldset>

