@model Taijitan.Models.Domain.Lesmateriaal
@using CloudinaryDotNet

<div class="container body-content">
    <div>
        <h2 class="mt-5"><a href="/Lesmateriaal/Overzicht" class="btn-link">Lesmateriaal</a> > @Model.Naam</h2>
        <hr />
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @if (Model.Beschrijving != null)
            {
                <li class="nav-item">
                    <a class="nav-link active" id="beschrijving-tab" data-toggle="tab" href="#beschrijving" role="tab" aria-controls="home" aria-selected="true">Beschrijving</a>
                </li>
            }
            @if (Model.VideoId != null)
            {
                <li class="nav-item">
                    <a class="nav-link" id="video-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">Video</a>
                </li>
            }
            @if (!Model.Fotos.Equals(null))
            {
                <li class="nav-item">
                    <a class="nav-link" id="foto-tab" data-toggle="tab" href="#foto" role="tab" aria-controls="foto" aria-selected="false">Afbeeldingen</a>
                </li>
            }
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="beschrijving" role="tabpanel" aria-labelledby="beschrijving-tab">
                @if (Model.Beschrijving != null)
                {
                    <h5>
                        Beschrijving
                    </h5>
                    <p>
                        @Model.Beschrijving
                    </p>
                }
            </div>
            <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
                @if (Model.VideoId != null)
                {
                    var videoUrl = "https://www.youtube.com/embed/" + Model.VideoId;
                    <h5>
                        Video
                    </h5>
                    <p>
                        <iframe width="960" height="520" src="@videoUrl"></iframe>
                    </p>
                }
            </div>
            <div class="tab-pane fade" id="foto" role="tabpanel" aria-labelledby="foto-tab">
                @if (!Model.Fotos.Equals(null))
                {
                <div class="row justify-content-center">
                    @foreach (Taijitan.Models.Domain.Databindings.FotoLesmateriaal item in Model.Fotos)
                    {
                        var index = Model.Fotos.IndexOf(item) + 1;
                        var url = @item.Foto.Cloudinary.Api.UrlImgUp.Transform(new Transformation().Height(300).Crop("fill"))
                            .BuildUrl("taijitan/" + item.Foto.Bestandsnaam + "." + item.Foto.Extensie);
                    <figure class="figure m-3 border-dark">
                        <img src="@url" class="figure-img img-fluid rounded">
                        <figcaption class="figure-caption">@index</figcaption>
                    </figure>
                    }
                </div>
                }
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-dark" href="/Lesmateriaal/Overzicht">Terug naar overzicht</a>
    </div>
</div>