@model Taijitan.Models.LesmomentViewModels.LesmomentGebruikerViewModel

@{
    if (TempData.ContainsKey("error")) {
        <div class="alert alert-danger">
            @TempData["error"]
        </div>
    }
}

<h2>Sessie op @Model.Lesmoment.StartTijd.ToString("dd/MM/yyyy") om @Model.Lesmoment.StartTijd.ToString("HH:mm")</h2>
<h3>Leden</h3>
<table class="table table-striped">
    <thead class="bg-primary">
        <tr class="bg-primary">
            <td><b>Gebruikersnaam</b></td>
            <td><b>Voornaam</b></td>
            <td><b>Achternaam</b></td>
        </tr>
    </thead>
    @foreach (var item in Model.Lesmoment.Leden.OrderBy(l => l.Gebruikersnaam)) {
        @if (item.Aanwezig) {
            <tr>
                <td>@item.Gebruikersnaam </td>
                <td>@item.Gebruiker.Voornaam </td>
                <td>@item.Gebruiker.Naam </td>
                @{
                    var parms = new Dictionary<string, string> { { "gebruikersnaam", @item.Gebruiker.Gebruikersnaam } };
                }
                <td><a class="btn btn-default" asp-controller="Home" asp-action="Login" asp-all-route-data="parms">Leeromgeving</a></td>
            </tr>
        }
    }
</table>
<div class="form-group col-md-12 text-center">
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Keer terug</a>
</div>