@model Taijitan.Models.LesmomentViewModels.LesmomentGebruikersInFormuleViewModel

<div class="body-content container">
    <h2 class="mt-5 text-center mb-3">Leden met formule: @Model.LesformuleTekst</h2>

    <table class="table table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <td><b>Gebruikersnaam</b></td>
                <td><b>Voornaam</b></td>
                <td><b>Achternaam</b></td>
                <td></td>
            </tr>
        </thead>
        @foreach (Taijitan.Models.Domain.Gebruiker gebruiker in Model.Gebruikers)
        {
        <tr>
            <td>@gebruiker.Gebruikersnaam </td>
            <td>@gebruiker.Voornaam </td>
            <td>@gebruiker.Naam</td>
            @if (Model.isGebruikerAanwezig(gebruiker))
            {
                var parms = new Dictionary<string, string> { { "gebruikersnaam", @gebruiker.Gebruikersnaam } };
                <td><a class="btn btn-success btn-block" asp-controller="Home" asp-action="Login" asp-all-route-data="parms">Leeromgeving</a></td>
            }
            else
            {
                var parms = new Dictionary<string, string> { { "lesmomentId", Model.Lesmoment.LesmomentId.ToString() }, { "gebruikersnaam", gebruiker.Gebruikersnaam } };
                <td><a class="btn btn-info btn-block" asp-action="RegistreerAanwezigheid" asp-controller="Lesmoment" asp-all-route-data="parms">Registreer aanwezigheid</a></td>
            }
        </tr>
        }
    </table>
    <div class="form-group col-md-12 text-center">
        <a asp-controller="Lesmoment" asp-action="Aanwezigheden" class="btn btn-dark">Terug naar aanwezigheidslijst</a>
    </div>

</div>