@model Taijitan.Models.LesmomentViewModels.LesmomentGebruikerViewModel

<h2>Sessie op @Model.Lesmoment.StartTijd.ToString("dd/MM/yyyy") om @Model.Lesmoment.StartTijd.ToString("HH:mm")</h2>
<h3>Leden</h3>
<table class="table table-striped">
    <thead class="bg-primary">
        <tr class="bg-primary">
            <td><b>Gebruikersnaam</b></td>
            <td><b>Voornaam</b></td>
            <td><b>Achternaam</b></td>
            <td><b>Aanwezigheid</b></td>
        </tr>
    </thead>
    @foreach (var item in Model.Lesmoment.Leden.OrderBy(l => l.Gebruikersnaam))
    {
        <tr>
            <td>@item.Gebruiker.Gebruikersnaam </td>
            <td>@item.Gebruiker.Voornaam </td>
            <td>@item.Gebruiker.Naam </td>
            @if (item.Aanwezig)
            {
                <td>Aanwezig</td>
            }
            else
            {
                var parms = new Dictionary<string, string> { { "lesmomentId", Model.Lesmoment.LesmomentId.ToString() }, { "gebruikersnaam", item.Gebruiker.Gebruikersnaam} };
                <td><a class="btn btn-default" asp-route="registreeraanwezigheid" asp-all-route-data="parms">Registreer aanwezigheid</a></td>
            }
        </tr>
    }
</table>
<div class="form-group col-md-12 text-center">
    <a asp-controller="Lesmoment" asp-action="Index" class="btn btn-default">Keer terug</a>
    <a asp-controller="Lesmoment" asp-action="RegistreerAanwezigheidProefles" asp-route-id="@Model.Lesmoment.LesmomentId" class="btn btn-info">Ik volg een proefles</a>
    <a asp-controller="Lesmoment" asp-action="RegistreerAanwezigheidNietIngeschreven" asp-route-id="@Model.Lesmoment.LesmomentId" class="btn btn-info">Ik volg een les buiten mijn formule</a>
</div>