@model Taijitan.Models.Domain.Lesmoment

<h2>Sessie van Model.Starttijd</h2>
<h3>Leden</h3>
<table class="table table-striped">
    <thead class="bg-primary">
        <tr class="bg-primary">
            <td><b>Gebruikersnaam</b></td>
        </tr>
        <tr class="bg-primary">
            <td><b>Voornaam</b></td>
        </tr>
        <tr class="bg-primary">
            <td><b>Achternaam</b></td>
        </tr>
        <tr class="bg-primary">
            <td><b>Aanwezigheid</b></td>
        </tr>
    </thead>
    @foreach (var item in Model.Leden)
    {
        <tr>
            <td>@item.Gebruiker.Gebruikersnaam </td>
            <td>@item.Gebruiker.Voornaam </td>
            <td>@item.Gebruiker.Naam </td>
            @if (item.Aanwezig)
            {
                <td>Aanwezig</td>
            }
            else
            {
                //<td><a class="btn btn-default" asp-controller="Lesmoment" asp-action="RegistreerAanwezigheid" asp-route-id="@item.LesmomentId">Registreer aanwezigheid</a></td>
                <td>TODO</td>
            }

            <td><a class="btn btn-default" asp-controller="Lesmoment" asp-action="Start" asp-route-id="@item.LesmomentId">Start Sessie</a></td>
        </tr>
    }
</table>
